@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Allura|Fjalla+One&display=swap");
/*BOX-SIZING MODEL TO BORDER*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
}

h1 {
  margin: 0;
  padding: 2rem 0 3rem 1rem;
  color: #fff;
}

header {
  background-image: url("https://images.pexels.com/photos/2271106/pexels-photo-2271106.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-container {
  background-image: url("https://images.pexels.com/photos/2271106/pexels-photo-2271106.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.opacity {
  background: #00000061;
}

.main-title {
  font-family: "Fjalla One", sans-serif;
  line-height: 3.5rem;
  font-weight: 500;
  padding: 1rem 3rem;
}

hr {
  border-top: 1px solid #e4e4e4;
  border-bottom: none;
}

section {
  padding: 1rem;
}

button {
  border-radius: 3px;
  background-color: #484848;
  color: #ffff;
  border: none;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
}

button:hover {
  background-color: #ffbc05;
  border: none;
}

button img {
  height: 1.75rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.home-flex-center {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-flex-center h2 {
  font-family: "Allura", cursive;
  text-transform: none;
  color: #ffff;
  margin-top: 0.5rem;
  font-weight: 100;
  font-size: 2.25rem;
}

.home-flex-center div {
  background-color: #000000a1;
  text-align: center;
  padding-top: 1.25rem;
}

nav li {
  font-size: 1.05rem;
  margin-right: 1.5rem;
  list-style-type: none;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: #c0c0c0;
}

.menu {
  width: 60%;
  padding: 1rem;
  display: inline-block;
}

.item-container {
  overflow-y: scroll;
  height: 30rem;
}
.item {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0 2rem 0;
  width: 15rem;
  height: 10.5rem;
  margin: 0.5rem;
  font-weight: 400;
  float: left;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  font-size: 1.45rem;
  cursor: pointer;
}

.item:hover {
  background-color: #ffbc05;
}

.item div {
  height: 65%;
}
.item button {
  /* padding: 0.35rem 1.25rem; */
  width: 4rem;
  margin: 1rem 0.15rem 0.15rem 0.15rem;
}
.price {
  font-family: "Allura", cursive;
  font-size: 1.75rem;
  line-height: 1rem;
  margin: 0.5rem auto 1rem auto;
  padding-bottom: 2rem;
}

.cant {
  font-family: "Lora", serif;
  text-transform: none;
  font-weight: 100;
  font-size: 1rem;
  padding-bottom: 2rem;
  margin-top: 1.5rem;
}
.order {
  width: 40%;
  padding: 1rem;
  display: inline-block;
}

.order-box {
  padding: 1rem;
  margin: 0.75rem 0;
  min-height: 5rem;
  background-color: #fdfdfc;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}
.order-box p {
  font-size: 1.25rem;
  font-weight: 300;
  border-bottom: 1px solid #b3b3b3;
}

.order-box button {
  padding: 0.75rem;
  line-height: 0;
  margin: 0.25rem 0.15rem;
  border: 1px solid #484848;
}
.order-box button:hover {
  background-color: #ffbc05;
  border: none;
}
.order-box button img {
  height: 1.25rem;
}
.order-cant {
  font-family: "Lora", serif;
  font-size: 1.35rem;
  border: 1px solid #484848;
  padding: 0.65rem 0.5rem 0.4rem 0.5rem;
  border-radius: 5px;
  margin: 0.25rem 0.15rem;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem 0.25rem;
  align-items: flex-end;
  flex-flow: column;
}
.total h4 {
  /* padding: 1rem 2rem 1rem 0; */
  border-bottom: 5px solid #b3b3b3;
  margin: 0 0 1rem 0;
  text-align: right;
  padding-left: 0.75rem;
}

.total button {
  padding: 0.5rem 2.3rem 0.75rem 2.3rem;
  line-height: inherit;
}

.table-box {
  display: flex;
  flex-direction: column;
}
.table-box label {
  font-size: 1.25rem;
}
.table-box input {
  font-family: "Lora", serif;
  font-size: 1.25rem;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  width: 3.5rem;
  padding: 0.5rem;
}
.table-box textarea {
  font-size: 1rem;
  resize: none;
  padding: 0.5rem;
  font-family: "Lora", serif;
  font-weight: 300;
  min-height: 5rem;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .flex-row,
  .flex-row-menu {
    display: inline-block;
  }
  .order {
    width: 100%;
  }
  .menu {
    width: 95%;
  }
  .order-box {
    width: 100%;
  }
}
